
<br />
<div class="container">
  <h1 style="font-weight: 700; color:white;">Enter your email</h1>
  <div id="errorDiv"></div>
  <% if (typeof message !== 'undefined' && message !== null) { %>
    <div><%= message %></div>
  <% } else { %>
  
  <% } %>
  <form class="formContainer" action="/auth/forgotPassword" method="post" onsubmit="return validateLoginForm()">
   
      <h2 for="email">Reset your password</h2>
      <br>
      <input type="email" class="form-control" id="email" name="email" placeholder="email address" value="" />
    
    <br>
    <div class="form-row text-center">
      <button type="submit" class="form-btn mx-auto btn-theme bg-orange">Reset Password</button>
  </div>
  </form>
  <br />

</div>


<script defer> 

    function validateLoginForm() {
        const email = document.getElementById("email").value;
        const errorDiv = document.getElementById("errorDiv");
    
        errorDiv.innerHTML = ""; // Clear previous error messages
    
        if (email.trim() === "") {
            displayErrorMessage("Email is required");
            return false;
        }
    
        if (email.length > 50) { // Allow a maximum of 50 characters for email
            displayErrorMessage("Email must be 50 characters or less");
            return false;
        }
    
        return true;
    }
    
    function displayErrorMessage(message) {
        const errorDiv = document.getElementById("errorDiv");
        errorDiv.textContent = message;
    }
    
</script>

