<br>
<br>
<br>
<br>
<div class="container"> 
    <div style="align-items: center; justify-content: center; display: flex; flex-direction: column;" class="free-quote-form">
        <!-- Heading Main -->
        <h1 class="heading-main mb-4">
           
            Login into your account
        </h1>
        <!-- Heading Main -->

        <!-- Free Quote From -->
        <form  style="max-width: 450px;" action="login" method="post" novalidate="novalidate" class="col rounded-field">
            
            <div class="form-row mb-4">
                <input type="text" name="emailAddress" class="form-control" placeholder="Email Address" value="">
            </div>
            <div class="form-row mb-4">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-row text-center">
                <button type="submit" class="form-btn mx-auto btn-theme bg-orange">Login</button>
            </div>
            <br>
            <a href="/auth/signup">Dont have an account? Register instead.</a>
            <br>
            <a href="/auth/forgotPassword">Reset Password.</a>
          
        </form>
        <!-- Free Quote From -->

</div>
</div>

