
<br />
<div class="container authBody" id="updatePasswordContainer">
  <h1>Enter New Password</h1>
  <div id="errorDiv"></div>
  <% if (typeof message !== 'undefined' && message !== null) { %>
    <div><%= message %></div>
  <% } else { %>
  
  <% } %>
  <form class="formContainer" action="/auth/updatePassword" method="post" onsubmit="return validateLoginForm()">
  <input type="hidden" name="code" value="<%=code%>" >
  <input type="hidden" name="email" value="<%=email%>">
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="password" value="" />
    </div>
    <div class="form-group">
        <label for="email">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="password" value="" />
      </div>
      <br>
      <div class="form-row text-center">
        <button type="submit" class="form-btn mx-auto btn-theme bg-orange">Reset Password</button>
    </div>
  </form>
  <br />

</div>


<script defer> 

    function validateLoginForm() {
        const password = document.getElementById("password").value;
        const password2 = document.getElementById("password2").value;
        
        const errorDiv = document.getElementById("errorDiv");
    
        errorDiv.innerHTML = ""; // Clear previous error messages
    
        if (password.trim() === "") {
            displayErrorMessage("Password is required");
            return false;
        }
        
        if (password !== password2) {
            displayErrorMessage("Passwords dont match");
            return false;
        }
    
    
        return true;
    }
    
    function displayErrorMessage(message) {
        const errorDiv = document.getElementById("errorDiv");
        errorDiv.textContent = message;
    }
    
</script>

