<header class="header-three">
    <!-- Main Navigation Start -->
    <nav class="navbar navbar-expand-lg header-fullpage nav-light">
        <div class="container d-flex align-items-lg-start">
            <div class="col col-lg-2 col-md-3">
                <a class="navbar-brand rounded-bottom light-bg" href="/">
                    <img src="/assets/images/sinoLogo.png" alt="" height="50" width="70">
                </a>
            </div>
            <!-- Toggle Button Start -->
            <button class="navbar-toggler x collapsed" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Toggle Button End -->
            <div class="col-lg-auto">
                <div class="text-end top-bar">
                    <!-- Topbar Language Dropdown Start -->
                    
                    <!-- Topbar Language Dropdown End -->

                    <!-- Topbar Social Icons Start -->
                    <div class="top-bar-btn d-inline-flex social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a>
                        <a href="#"><i class="icofont-whatsapp"></i></a>
                        <a href="#"><i class="icofont-youtube-play"></i></a>
                    </div>
                    <!-- Topbar Social Icons End -->

                    <!-- Topbar Request Quote Start -->
                    
                    <!-- Topbar Request Quote End -->
                </div>
                <div class="navbar-collapse offcanvas offcanvas-start offcanvas-collapse" id="navbarCollapse">
                    <div class="offcanvas-header">
                        <a class="navbar-brand" href="index.html">
                            <img src="/assets/images/sinoLogo.png" alt="" height="50" width="70">
                        </a>
                        <button class="navbar-toggler x collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icofont-close-line"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body w-100">                        
                        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/"  aria-expanded="false">Home </a>
                               
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account<i
                                    class="icofont-rounded-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="auth/signup">Create Account</a></li>
                                    <li><a class="dropdown-item" href="auth/login">Login</a></li>
 
                                </ul>
                            </li>
                          
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Pages 
                                    <i class="icofont-rounded-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
                                    <li><a class="dropdown-item" href="/services">Services</a></li>
                                </ul>
                            </li>
                            

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contact<i
                                    class="icofont-rounded-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/customerSupport">Live Customer Support</a></li>
                                    <li><a class="dropdown-item" href="#contactInformation">Contact Informatino</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#"  role="button" data-bs-toggle="modal" data-bs-target="#request_popup">Request Quote</a>
                                
                                
                            </li>
                    
                        </ul>
                    </div>                        
                </div>
            </div>
        </div>
    </nav>
    <!-- Main Navigation End -->
</header>